@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
   
}
body{
    font-family: 'Nunito Sans','sans-serif';
    background-color: hsl(207, 26%, 17%);
    color:hsl(0, 0%, 100%)
}
.display{
    display: grid;
    grid-template-columns: 1fr;   
    gap:40px;
    background-color: hsl(207, 26%, 17%);
    border-radius: 5px;
    align-items: center;
    justify-items: center;
}

/* header design */

.headerContainer{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    background-color: hsla(209, 23%, 22%, 1);
}
.headerContainer #question{  
    padding-left:5%;
    font-size: 10px;
}
.headerContainer #modeSwitch{
    display: flex;
    align-content: center;
    font-size: 10px;
    padding-right: 5%;
    font-weight: bolder;
}
/* end..... */

/* filter bar */
.filterbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
}
.formControl{
    width: 90%;
}
.filterbar #search{
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    color: white;
    background-color: hsla(209, 23%, 22%, 1);
}

.filterbar #select{
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 20px;
    color: white;
    outline: none;
    border: none;
    background-color: hsla(209, 23%, 22%, 1);
}

.formControl input{
    outline: none;
    border: none;
}
.filterbar .option{
    width: 90%;
}

/* end.......... */


/* countries design */
.countryBox{
    background-color: hsl(209, 23%, 22%);
    border-radius: 5px;
    height:336px; 
    width: 264px;
}
.countryBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.countryBoxDetail{
    padding: 10px;
    margin-top: 10px;
}

.countryBoxDetail h3{
    margin: -5px 0 5px 0;

 }

.countryBoxDetail h4{
    padding-top: 5px;
}

.countryBoxDetail span{
    font-weight: lighter;
}

.img-container{
    overflow: hidden;
    height: 180px;
    width: 100%;
    
}








@media (min-width:640px) {
    .display{
    grid-template-columns: repeat(2,1fr);
    gap:40px;
    }
}

@media (min-width:768px){
    .display{
        grid-template-columns: repeat(3,1fr);
        gap:40px;
        }
    .filterbar .formControl{
        width: auto;
        padding-left: 4%;

    }
    .filterbar #search{
        width: auto;
    }
    .filterbar{
        flex-direction: row;
        width: auto;
    }
    .filterbar .option{
        width: auto;
        padding-right: 4%;

    }
    .headerContainer #question{  
       
        font-size: 15px;
    }
    .headerContainer #modeSwitch{
        font-size: 13px;
        font-weight: bolder;
    }
}

@media (min-width:992px) {
    .filterbar .formControl{
    padding-left: 4%;
    }
    .filterbar .option{
        padding-right: 4%;
    }
    .display{
        grid-template-columns: repeat(4,1fr);
        gap:40px;
        padding: 10px 40px;

        }
}

