
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*{
    padding: 0%;
    margin: 0%;
   
}
body{
    font-family: 'Nunito Sans','sans-serif';
    background-color: hsl(207, 26%, 17%);
    color:hsl(0, 0%, 100%)
}
/* header design */

.headerContainer{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
}
.headerContainer #question{  
    padding-left:5%;
}
.headerContainer #modeSwitch{
    display: flex;
    align-content: center;
    margin-right: 10px;
    padding-right: 8%;
    font-weight: bolder;
}
/* end..... */


/* filter bar */
.filterbar{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 8%;
    margin-left:5%;
    height: 50px;
}
.filterbar #search{
    border-radius: 5px;
    height: 35px;
    width: 500px;
}
.filterbar #select{
    border-radius: 5px;
    width: 200px;
    height: 35px;
}
/* end.......... */


/* countries design */
.countryBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.img-container{
    overflow: hidden;
    height: 180px;
    width: 100%;
    
}

.display{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    background-color: hsl(207, 26%, 17%);
    border-radius: 5px;
    align-items: center;
    padding: 5%;    
}

.countryBox{
    background-color: hsl(209, 23%, 22%);
    border-radius: 5px;
    height:336px; 
    width: 264px;
}

.countryBoxDetails{
    padding: 10px;
    margin-top: 10px;
}

.countryBoxDetails h3{
    margin: -5px 0 5px 0;

 }

.countryBoxDetails h4{
    padding-top: 5px;
}

.countryBoxDetails span{
    font-weight: lighter;
}


/* desktop view */
@media (min-width:640px){
    .display{
        grid-template-columns: repeat(4,1fr);
        gap:40px;
    }
   
}