@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --primary-text: hsl(200, 15%, 8%);
    --border: rgb(198, 204, 206);


}

*{
    padding: 0px;
    margin: 0px;
   
}
body{
    font-family: 'Nunito Sans','sans-serif';
    background-color: var(--secondary);
    color:var(--primary-text)
}
.display{
    display: grid;
    grid-template-columns: 1fr;   
    gap:40px;
    background-color: var(--primary);
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    
}


/* header design */

.headerContainer{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    background-color: var(--secondary) ;
    box-shadow:  5px 5px 10px var(--border);
}
.headerContainer #question{  
    padding-left:5%;
    font-size: 10px;
}
.headerContainer #modeSwitch{
    display: flex;
    align-content: center;
    font-size: 10px;
    padding-right: 5%;
    font-weight: bolder;
}
/* end..... */

/* filter bar */
.filterbar{
    display: flex;
    background-color:var(--primary) ;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
}
.formControl{
    width: 90%;

}
 
.filterbar #search{
    border-radius: 3px;
    width: 100%;
    height: 47px;
    padding: 7px;
    margin-bottom: 20px;
    color:var(--primary-text);
    box-shadow:  2px 2px 10px var(--border);
    background-color: var(--secondary) ;
}

.filterbar #select{
    border-radius: 3px;
    padding: 7px;
    height: 47px;
    margin-bottom: 20px;
    color: var(--primary-text);
    outline: none;
    border: none;
    box-shadow:  2px 2px 10px var(--border);
    background-color: var(--secondary) ;
}

.formControl input{
    outline: none;
    border: none;
}
.filterbar .option{
    width: 90%;
}

/* end.......... */


/* countries design */
.countryBox{
    background-color: var(--secondary);
    border-radius: 5px;
    height:336px; 
    width: 264px;
    box-shadow: 5px 5px 10px var(--border);
}
.country .btn{
    background-color: var(--secondary);
    color: var(--primary-text);
    box-shadow: 5px 5px 10px var(--border);
}
.countryBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.countryBoxDetail{
    padding: 10px;
    margin-top: 10px;
}

.countryBoxDetail h3{
    margin: -5px 0 5px 0;

 }

.countryBoxDetail h4{
    padding-top: 5px;
}

.countryBoxDetail span{
    font-weight: lighter;
}

.img-container{
    overflow: hidden;
    height: 180px;
    width: 100%;    
}
.imgContainer{
    box-shadow: 5px 5px 10px var(--border);
}
.borderList ul{
    box-shadow: 5px 5px 10px var(--border);
    background-color: var(--secondary);
    color: var(--primary-text);
}







@media (min-width:640px) {
    .display{
    grid-template-columns: repeat(2,1fr);
    gap:40px;
    }
 
}

@media (min-width:768px){
    .display{
        grid-template-columns: repeat(3,1fr);
        gap:40px;
        }
    .filterbar .formControl{
        width: auto;
        padding-left: 4%;

    }
    .filterbar #search{
        width: 400px;
    }
    .filterbar{
        flex-direction: row;
        width: auto;
    }
    .filterbar .option{
        width: auto;
        padding-right: 4%;

    }
    .headerContainer #question{  
       
        font-size: 15px;
    }
    .headerContainer #modeSwitch{
        font-size: 13px;
        font-weight: bolder;
    }
 
}

@media (min-width:992px) {
    .filterbar .formControl{
    padding-left: 5%;
    }
    .filterbar .option{
        padding-right: 5%;
    }
    .filterbar #select{
        width: 300px;
    }
    .display{
        grid-template-columns: repeat(4,1fr);
        gap:40px;
        padding: 10px 40px;
        }
        
}